{% extends 'base.html.twig' %}

{% block title %}Form!{% endblock %}

{% block body %}
<div>
    <h2>Коменты</h2>
    {{ form_start(form) }}
        {{ form_label(form.author) }}<br>
        {{ form_widget(form.author) }}<br>
        {{ form_label(form.title) }}<br>
        {{ form_widget(form.title) }}<br>
        {{ form_label(form.content) }}<br>
        {{ form_widget(form.content) }}<br>
    <div><button type="submit">Сохранить</button> </div>
    {{ form_end(form) }}
</div>
{% endblock %}