{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

<div class="container">
    <h1>Комменты</h1>
    <a href="{{ path('create_comment') }}">Создать комментарий</a>
    {% for comment in comments %}
        <div class="card bg-success text-white">
            <div class="">Автор - {{ comment.author }}</div>
            <div class="">Заголовок - {{ comment.title }}</div>
            <div class="">Текст - {{ comment.content }}</div>
            <div><a href="{{ path('single_comment', {'id': comment.id}) }}">просмотр</a> </div>
            <div><a href="{{ path('delete_comment', {'id': comment.id}) }}">удалить</a> </div>
            <div><a href="{{ path('update_comment', {'id': comment.id}) }}">обновить</a> </div>
            <hr>
        </div>
    {% endfor %}
</div>
{% endblock %}
