{% extends 'base.html.twig' %}

{% block title %}Hello CommentController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div id="container">
    <h2>Комменты</h2>
    <a href="{{ path('create_comment') }}">Создать комментарий</a>
    {% for comment in comments %}
        <div>
            <div>Автор - {{ comment.author }}</div>
            <div>Заголовок - {{ comment.title }}</div>
            <div>Текст - {{ comment.content }}</div>
            <div><a href="{{ path('single_comment', {'id': comment.id}) }}">просмотр</a> </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
